<%- include('partials/head') %>
<div class="ballot-head"><div class="bar"></div><div class="hairlines"></div></div>
<h1><%= title %></h1>
<p><%= message %></p>
<a class="btn" href="/">Back to start</a>
<%- include('partials/foot') %>
